* {
  margin: 0;
  padding: 0;
}
.logo {
  float: left;
  width: 25%;
}
.container {
  width: 80%;
  margin: 1 auto;
}

header {
  background: white;
}

nav {
  float: right;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  margin: 1;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 40px;
  padding-right: 100px;
  position: relative;
  font-size: larger;
}

nav a {
  color: #444;
  text-decoration: none;
}

nav a :hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
}

#content {
  background: linear-gradient(
      180.43deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("./images/spacex-OHOU-5UVIYQ-unsplash.jpg");
  height: 118.4vh;
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: left;
  padding: 0 20px;
}
.container {
  width: 100%;
  padding-right: 17.5px;
  padding-left: 17.5px;
  margin-right: auto;
  margin-left: auto;
}
*,
:after,
:before {
  box-sizing: border-box;
}
div {
  display: block;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -17.5px;
  margin-left: -17.5px;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.cc-home-banner-title {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  font-size: 64px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 2rem;
  font-size: 1.125rem;
  line-height: 2;
  border-radius: 0;
}
.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn {
  display: inline-block;
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 0 solid transparent;
  letter-spacing: 1.75px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-transform: uppercase;
}
a,
a:hover {
  text-decoration: none;
}
*,
:after,
:before {
  box-sizing: border-box;
}
t-3,
.my-3 {
  margin-top: 3rem !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.lead {
  font-size: 1.875rem;
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 1px;
  color: #fff;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
*,
:after,
:before {
  box-sizing: border-box;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
